<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload and Validate Spreadsheet</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <style>
        .container {
            margin-left: 0 !important;
            margin-right: 0 !important;
        }

        .table {
            border-radius: 0.25rem;
            overflow: hidden;
        }

        .table th {
            text-align: left;
        }

        .card-title {
            margin: 0;
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <h1>Upload and Validate Spreadsheet</h1>
            <!-- Admin link -->
            <div class="collapse d-flex" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item">
                        <a href="{% url 'admin:index' %}" target="_blank">Admin Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="container mt-3">
        <div class="row d-flex align-items-stretch">
            <div class="col-md-6">
                <div class="card h-100">
                    <div class="card-header">
                        <h5 class="card-title">Upload File</h5>
                    </div>
                    <div class="card-body">
                        <h6 class="card-subtitle text-muted">Upload your spreadsheet file for validation</h6>
                        <p>Accepted file formats are: .xlsx, .xls</p>
                        <!-- Form for file upload -->
                        <form method="post" enctype="multipart/form-data" id="upload-form">
                            {% csrf_token %}
                            <!-- Actual file input -->
                            <input id="file-upload" type="file" name="file" class="form-control mb-2"
                                accept=".xlsx, .xls" autocomplete="off">
                            <!-- File name display -->
                            <p id="file-name"></p>
                            <!-- Submit button -->
                            <button type="submit" class="btn btn-primary" id="submit-btn" disabled>Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card h-100" id="validation-card"
                    style="display: {% if not validation_result %}none{% endif %}">
                    <div class="card-header">
                        <h5 class="card-title">Validation Result</h5>
                    </div>
                    <div class="card-body">
                        <!-- Validation result message -->
                        {% if validation_result %}
                        <p id="validation-result" class="{% if is_valid %}text-success{% else %}text-danger{% endif %}">
                            {{ validation_result }}</p>
                        {% endif %}
                    </div>
                    <!-- Display file name (if available) -->
                    {% if file_name %}
                    <div class="card-footer">
                        File: {{ file_name }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <!-- Display the table only if file_content_html is available -->
                {% if file_content_html %}
                <div>
                    <h2>Uploaded File Content</h2>
                    <div class="table-responsive">
                        {{ file_content_html | safe }}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- JavaScript to display the file name and enable/disable submit button -->
    <script>
        document.getElementById('file-upload').addEventListener('change', function () {
            var fileName = this.files[0].name;
            document.getElementById('file-name').innerText = 'Selected File: ' + fileName;

            // Enable submit button when a file is selected
            document.getElementById('submit-btn').disabled = false;
        });

        // Disable submit button initially
        document.getElementById('submit-btn').disabled = true;
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>

</html>
